<div class="header d-flex justify-content-between align-items-center px-4 py-2">
  <!-- Left -->
  <div class="d-flex align-items-center gap-2 brand">
    <!-- <i class="bi bi-wallet2 fs-4"></i> -->
    <img src="Logo.png" alt="Logo" class="logo" width="40px" height="40px" />
    <span class="fw-bold fs-5">Samprama Expense Tracker</span>
  </div>

  <!-- Right -->
  <div class="d-flex align-items-center gap-3">
    <!-- ROLE BADGE -->
    <span
      class="role-badge"
      [ngClass]="{
        admin: userRole === 'Admin',
        employee: userRole === 'employee',
      }"
    >
      {{ userRole }}
    </span>

    <!-- Profile -->
    <div
      class="profile d-flex align-items-center gap-2"
      (click)="goToProfile()"
    >
      <div class="avatar">
        {{ userInitial }}
      </div>
      <span class="fw-semibold d-none d-md-inline">{{ userName }}</span>
    </div>

    <!-- LOGOUT -->
    <button
      class="btn btn-outline-danger px-4 py-2 rounded-pill shadow-sm d-flex align-items-center gap-2 btn-hover-icon"
      (click)="logout()"
    >
      <i class="bi bi-box-arrow-right"></i>
      <span>Logout</span>
    </button>
  </div>
</div>
