<div class="container">
  <div
    class="container p-3 d-flex align-items-center justify-content-between position-relative"
  >
    <div>
      <app-back-button></app-back-button>
    </div>

    <h2 class="mb-0 position-absolute start-50 translate-middle-x">
      Users List
    </h2>
  </div>

  <div class="d-flex justify-content-center my-4 p-component-overlay-container">
    <input
      type="month"
      class="form-control w-auto"
      [(ngModel)]="date"
      (change)="dateOnChange($event)"
      [max]="maxMonth"
    />
  </div>

  <div class="d-flex flex-column align-items-center  ">
    <div class="text-center mb-2">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="isAllSelected()"
          (change)="toggleSelectAll($event)"
          id="selectAll"
        />
        <label class="form-check-label" for="selectAll"> Select All </label>
      </div>
    </div>

    <ol class="list-group user-list">
      <li
        class="list-group-item user-card d-flex align-items-center gap-3"
        *ngFor="let user of users"
      >
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="isSelected(user.id)"
          (change)="toggleUser(user.id, $event)"
        />

        <img src="expn.png" class="user-avatar" alt="expense image" />

        <div class="d-flex flex-column">
          <span class="user-name">{{ user.name }}</span>
          <!-- <span class="user-expense">Total: ₹{{ user.expense }}</span> -->
          <span class="user-expense">Total: ₹{{ user.expense }}</span>
        </div>
      </li>
    </ol>

    <div class="d-flex justify-content-center gap-3 mt-4 w-100">
      <button
        class="btn btn-primary"
        (click)="viewExpenses()"
        [disabled]="selectedUserIds.length === 0"
      >
        View Expenses
      </button>

      <button class="btn btn-outline-secondary" (click)="clearSelection()">
        Clear
      </button>
    </div>
  </div>
</div>
