.user-list {
  width: 40%;
}

.user-card {
  border-radius: 12px;
  background: #cbb8f3;
  margin-bottom: 10px;
}

.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: 600;
  color: #ffffff;
}

.user-expense {
  font-size: 14px;
  color: #f3f3f3;
}