.user-dashboard {
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.dashboard-title {
  font-size: 22px;
}

/* CARD */
.action-card {
  border-radius: 16px;
  background: #ffffff;
  transition: all 0.25s ease;
}

.action-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* TOTAL */
.total-value {
  font-size: 16px;
  font-weight: 600;
  color: #3575ff;
}

.total-label {
  font-size: 11px;
  color: #6b7280;
}

/* STATUS GRID */
.status-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 8px;
}

/* STATUS BOX */
.status-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-radius: 10px;
  background: #f9fafb;
  font-size: 12px;
  transition: all 0.2s ease;
}

.status-box i {
  font-size: 14px;
}

.status-box .label {
  font-size: 11px;
}

.status-box .value {
  font-size: 13px;
  font-weight: 600;
}

.sub-value {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
}

/* COLORS */
.status-box.submitted {
  border-left: 3px solid #2e6a9c;
  // background: #e9f5ff;
  color: #2e6a9c;
}

.status-box.approved {
  border-left: 3px solid #166534;
  color: #166534;
}

.status-box.rejected {
  border-left: 3px solid #991b1b;
  color: #991b1b;
}

/* HOVER */
.status-box:hover {
  transform: translateY(-2px);
}

.status-box.submitted:hover {
  background: #e0e7ff;
}

.status-box.approved:hover {
  background: #dcfce7;
}

.status-box.rejected:hover {
  background: #fee2e2;
}

/* BUTTON */
.btn-hover-icon {
  transition: 0.2s;
}

.btn-hover-icon:hover {
  transform: translateY(-2px);
}

/* EMPTY STATE */
.text-muted i {
  opacity: 0.6;
}

/* ---------- RESPONSIVE ---------- */

/* Tablet */
@media (max-width: 768px) {
  .status-grid {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-title {
    font-size: 20px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .status-grid {
    grid-template-columns: 1fr;
  }

  .total-value {
    font-size: 14px;
  }

  .status-box {
    padding: 8px;
  }
}