<table class="table clean-table pending-table">
  <thead class="clean-head">
    <tr>
      <th scope="col">Expense</th>
      <th scope="col">ExpenseDate</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Visit</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let exp of pendingExpenses" class="clean-row">
      <th scope="row">{{ exp.expense }}</th>
      <td>{{ exp.date }}</td>
      <td>{{ exp.category }}</td>
      <td>{{ exp.amount }}</td>
      <td>{{ exp.visit }}</td>
    </tr>
  </tbody>
</table>