<table class="table clean-table pending-table">
  <thead class="clean-head">
    <tr>
      <th scope="col">Sr.</th>
      <th scope="col">Expense</th>
      <th scope="col">ExpenseDate</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Visit</th>
      <th scope="col" *ngIf="this.role==='admin'.toLowerCase().trim()">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let exp of getPendingExpenses(); let i = index" class="clean-row">
      <th scope="row">{{ i + 1 }}</th>
      <th >{{ exp.expense }}</th>
      <td>{{ exp.expense_date }}</td>
      <td>{{ exp.category }}</td>
      <td>₹{{ exp.amount }}</td>
      <td>{{ exp.visit }}</td>
      <td *ngIf="this.role==='admin'.toLowerCase().trim()" (click)="toggleStatus()">
        <button>{{ status }}</button>
      </td>
    </tr>
  </tbody>
</table>