.expense-card {
  width: 350px;
  margin: auto;
  padding: 30px 20px;
  border-radius: 40px;
//   border: 5px solid #2b2b2b;
//   background: #f3f3f3;
}

/* Title */
.title {
  font-weight: 500;
}

/* Date */
.date-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Input pill style */
.pill-field,
::ng-deep .pill-field select,
::ng-deep .pill-field input {
  width: 100%;
}

::ng-deep .pill-field select,
::ng-deep .pill-field input {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: center;
  background: #f9f9f9;
}

/* Generic pill button */
.pill-input {
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

/* Buttons */
.action-btn {
  border-radius: 12px;
  padding: 8px 24px;
  border: none;
}

/* Save */
.save {
  background: #8bb8dd;
  color: white;
}

/* Cancel */
.cancel {
  background: #9e9e9e;
  color: white;
}

/* Add New */
.add-new {
  background: #8bb8dd;
  color: white;
  margin-top: 10px;
}