<app-drop-down-button>
</app-drop-down-button>

<app-input
  label="Amount"
  placeholder="Enter amount"
  [(ngModel)]="amount"
  type="number"
/>

<app-input
  label="Description"
  placeholder="Enter description"
  [(ngModel)]="description"
  type="text"
/>

<button
  class="d-flex btn btn-light border shadow-sm expense mt-3"
  >Save</button>


<button
  class="d-flex btn btn-light border shadow-sm expense mt-3"
  >Add New</button>


<button
  class="d-flex btn btn-light border shadow-sm expense mt-3"
  >Cancel</button>


