<div class="container text-center p-3">
  <h2 class="mb-0">Past Expenses</h2>
</div>

<div class="container d-flex gap-3 mb-3 justify-content-end">
  
  <select class="form-select w-auto" [(ngModel)]="selectedStatus">
    <option value="">All Status</option>
    <option *ngFor="let status of getUniqueStatuses()" [value]="status">
      {{ status }}
    </option>
  </select>


  <select class="form-select w-auto" [(ngModel)]="selectedDate">
    <option value="">All Dates</option>
    <option *ngFor="let date of getUniqueDates()" [value]="date">
      {{ date }}
    </option>
  </select>
</div>

<div class="container d-flex justify-content-center">
  <table class="table clean-table">
    <thead class="clean-head">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ExpenseDate</th>
        <th scope="col">ExpenseDate</th>
        <th scope="col">Category</th>
        <th scope="col">Receipt Id</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Approved By</th>
        <th scope="col">Approved At</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exp of getFilteredExpenses(); let i = index" class="clean-row">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ exp.expense }}</td>
        <td>{{ exp.expense_date }}</td>
        <td>{{ exp.category }}</td>
        <td>{{ exp.receipt }}</td>
        <td>{{ exp.amount }}</td>
        <td>
          <span class="status-pill" [ngClass]="exp.status?.toLowerCase() || ''">
            {{ exp.status }}
          </span>
        </td>
        <td>{{ exp.approved_by }}</td>
        <td>{{ exp.approved_at }}</td>
        <td>
          <button
            class="btn btn-sm btn-light border view-btn"
            (click)="openPreview(exp)"
          >
            Open
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
