<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ExpenseDate</th>
      <th scope="col">Category</th>
      <th scope="col">Receipt</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">ApprovedBy</th>
      <th scope="col">ApprovedAt</th>
      <th scope="col">Visit</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let exp of expenses">
      <th scope="row">{{ exp.expense }}</th>
      <td>{{ exp.date }}</td>
      <td>{{ exp.category }}</td>
      <td>{{ exp.receipt }}</td>
      <td>{{ exp.amount }}</td>
      <td>{{ exp.status }}</td>
      <td>{{ exp.approvedBy }}</td>
      <td>{{ exp.flag }}</td>
      <td>
        <button class="btn btn-sm btn-light border">View</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>&#64;fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>&#64;social</td>
    </tr>
  </tbody>
</table>