<div class="position-absolute">
  <app-back-button/>
</div>

<div class="container mt-5" *ngIf="expense">

  <!-- Print Button -->
  <div class="d-flex justify-content-end gap-2 mb-3">
    <button class="btn btn-outline-secondary" *ngIf="editable" (click)="editExpense()">
      Edit
    </button>

    <button class="btn btn-primary"  (click)="printReceipt()">
      Print Receipt
    </button>
  </div>

  <!-- Receipt -->
  <div id="receipt" class="card shadow p-4 mx-auto" style="max-width:500px">

    <!-- Header -->
    <div class="text-center border-bottom pb-3 mb-3">
      <h3 class="mb-0">Expense Receipt</h3>
      <small class="text-muted">Company Expense Record</small>
    </div>

    <!-- Info Table -->
    <table class="table table-borderless mb-3">
      <tr>
        <th>Status</th>
        <td class="text-end">{{ expense.status }}</td>
      </tr>

      <tr>
        <th>Category</th>
        <td class="text-end">{{ expense.category }}</td>
      </tr>

      <tr>
        <th>Amount</th>
        <td class="text-end fw-bold">₹ {{ expense.amount }}</td>
      </tr>

      <tr>
        <th>Receipt No.</th>
        <td class="text-end">{{ expense.receipt }}</td>
      </tr>

      <tr>
        <th>Visit</th>
        <td class="text-end">{{ expense.visit }}</td>
      </tr>
    </table>

    <!-- Description -->
    <div class="mb-3">
      <strong>Description</strong>
      <div class="border rounded p-2 mt-1 bg-light">
        {{ expense.expense }}
      </div>
    </div>

    <!-- Receipt Image -->
    <div class="text-center mb-3">
      <strong class="d-block mb-2">Receipt Image</strong>

      <img
        *ngIf="expense.receipt"
        [src]="'assets/' + expense.receipt"
        class="img-fluid border rounded"
        style="max-height:200px"
      />

      <span *ngIf="!expense.receipt" class="text-muted">
        No Receipt Uploaded
      </span>
    </div>

    <!-- Approval -->
    <div class="border-top pt-3">
      <table class="table table-borderless mb-0">
        <tr>
          <th>Approved By</th>
          <td class="text-end">{{ expense.approved_by }}</td>
        </tr>

        <tr>
          <th>Approved At</th>
          <td class="text-end">{{ expense.approved_at }}</td>
        </tr>
      </table>
    </div>

  </div>
</div>