// .icon-img {
//   width: 28px;
//   height: 28px;
// }

.action-btn{
    // margin-left: 110px !important;
    display: flex;
    justify-content: space-between;
    // width: 300px;
    // height: 300px;
}