<!-- <div class="clearfix d-flex align-items-center gap-2 border ps-2 pe-2 badge text-bg-info justify-content-evenly rounded-3 w-25" style="width: fit-content;">

    <img class="" src="./expn.png" alt="" style="width: clamp(20px, 3vw, 35px);"> 

    <div class="d-flex flex-column align-items-center">
        <h6 class="">Name</h6>
        <span class="">Email</span>
    </div>

    <ng-content></ng-content>
    

</div> -->
<div class="d-flex align-items-center gap-2 ps-2 pe-2 text-bg-info rounded-3" >
    <img class="" src="./expn.png" alt="" height="50"> 
    <div class="d-flex flex-column align-items-center">
        <h6 class="">Name</h6>
        <span class="">Email</span>
    </div>
</div>